.home_backgroundBlurFilter__p3EL0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  z-index: 1;
}
@media (min-width: 769px) {
  .home_backgroundBlurFilter__p3EL0 {
    backdrop-filter: blur(30px);
    background-color: hsla(0, 0%, 100%, 0.43);
  }
}
.AnimatedGrid_grid__otAMD {
  width: 100%;
  grid-column: span 12;
}
.HeroFadeIn_container___NgC6 {
  display: inline-block;
  width: 100%;
}
@media (min-width: 850px) {
  .HeroFadeIn_container___NgC6 {
    color: transparent;
  }
}
.HeroFadeIn_container___NgC6[data-fill="true"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Articles_articles__Wcz2C {
  background: #000;
  z-index: 2;
}
@media (max-width: 850px) {
  .Articles_articles__Wcz2C {
    margin-top: -1px;
    padding-bottom: 1px;
  }
}
@media (min-width: 769px) {
  .Articles_articles__Wcz2C {
    padding-bottom: 4rem;
  }
}
.Articles_articles__Wcz2C a {
  text-decoration: none;
  color: #000;
}
@media (min-width: 850px) {
  .Articles_articles__Wcz2C [data-animation="grid-item"] {
    opacity: 0;
    transform: translateY(1.5rem);
  }
}
.Articles_heading__zNRl8 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 12;
  margin-bottom: 1.2rem;
}
@media (min-width: 769px) {
  .Articles_heading__zNRl8 {
    margin-bottom: 0.8rem;
  }
}
@media (max-width: 850px) {
  .Articles_heading__zNRl8 > span {
    display: none !important;
  }
}
.Articles_heading__zNRl8 p {
  width: 100%;
  font-size: clamp(2.5rem, 7.1vw, 7.5rem);
  letter-spacing: calc(-20em / 1000);
  font-weight: 400;
  line-height: 1;
  color: #fff;
}
@media (max-width: 768px) {
  .Articles_heading__zNRl8 a {
    display: none;
  }
}
.Articles_heading__zNRl8 > span {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.Articles_articlesList__CXW8a {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.25rem;
  grid-column: span 12;
}
@media (min-width: 769px) {
  .Articles_articlesList__CXW8a {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 850px) {
  .Articles_articlesList__CXW8a {
    grid-gap: 2.8125rem;
  }
}
.Articles_article__3ZS4Y .Articles_image__Cvgsi {
  aspect-ratio: 380/203;
}
.Articles_article__3ZS4Y img {
  border-top-right-radius: 3rem;
}
@media (min-width: 850px) {
  .Articles_article__3ZS4Y img {
    border-top-right-radius: 5rem;
  }
}
.Articles_article__3ZS4Y .Articles_text__HhO2L {
  background: #fff;
  padding: 1.25rem 1.25rem 1.5rem;
}
@media (min-width: 850px) {
  .Articles_article__3ZS4Y .Articles_text__HhO2L {
    min-height: 13.375rem;
    padding: 1.875rem 1.5625rem;
  }
}
.Articles_filterNames__mCWt8 {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  line-height: 1;
}
.Articles_title__h86PB {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 500px) {
  .Articles_title__h86PB {
    font-size: 1.25rem;
  }
}
@media (min-width: 850px) {
  .Articles_title__h86PB {
    font-size: 1.5rem;
  }
}
.Articles_mobileButton__Df7CF {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
@media (min-width: 769px) {
  .Articles_mobileButton__Df7CF {
    display: none;
  }
}
.Ethos_ethos__vP_lg {
  padding: 0 0 4.5rem;
  overflow: hidden;
  z-index: 2;
}
@media (min-width: 769px) {
  .Ethos_ethos__vP_lg {
    padding: 0 0 9.375rem;
  }
}
.Ethos_sections__tC3Xx {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .Ethos_sections__tC3Xx {
    margin-top: 5rem;
  }
}
.EthosHeading_heading__shnxH {
  grid-column: span 12;
  text-align: center;
  font-size: clamp(2rem, 7.1vw, 7.5rem);
  font-weight: 400;
  line-height: 1;
  letter-spacing: calc(-20em / 1000);
  margin: 0;
}
@media (max-width: 768px) {
  .EthosHeading_heading__shnxH {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
.EthosHeading_heading__shnxH em {
  font-style: normal;
  --clipEnd: 100%;
}
@media (min-width: 850px) {
  .EthosHeading_heading__shnxH em {
    --clipEnd: 0%;
  }
}
.EthosHeading_heading__shnxH em:first-of-type:after {
  width: 105%;
  left: 0;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216.55 19.23"><path d="m.69,19.23l-.69-5.96,2.98-.35c1.46-.17,147.03-16.98,210.58-12.01l2.99.23-.47,5.98-2.99-.23C150.12,1.98,5.13,18.72,3.67,18.89l-2.98.35Z" style="stroke-width: 0px;"/></svg>');
}
.EthosHeading_heading__shnxH em:first-of-type:after,
.EthosHeading_heading__shnxH em:nth-of-type(2):after {
  content: "";
  position: absolute;
  right: 0;
  height: 1em;
  bottom: -0.82em;
  background-size: contain;
  background-repeat: no-repeat;
}
.EthosHeading_heading__shnxH em:nth-of-type(2):after {
  left: -0.15em;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 556.31 20.42"><path d="m.41,20.42l-.41-5.99,2.99-.2c3.1-.21,312.91-20.91,550.31-12l3,.11-.22,6-3-.11C315.99-.67,6.5,20,3.4,20.21l-2.99.2Z" style="stroke-width: 0px;"/></svg>');
}
.EthosHeading_heading__shnxH em:after {
  display: block;
  clip-path: polygon(0 0, var(--clipEnd) 0, var(--clipEnd) 100%, 0 100%);
}
.EthosSection_section__hjSSE {
  display: flex;
  flex-direction: column;
}
.EthosSection_section__hjSSE:hover .EthosSection_sectionDescription__9BWQV,
.EthosSection_section__hjSSE:hover .EthosSection_sectionHeading___kl5X {
  opacity: 1;
}
.EthosSection_section__hjSSE:hover .EthosSection_lineInner__7mqkk {
  transform: scaleX(1);
}
.EthosSection_sectionTrigger__Dbhq8 {
  display: flex;
  padding: 1.5rem 0;
  flex-direction: column;
  z-index: 2;
}
@media (min-width: 850px) {
  .EthosSection_sectionTrigger__Dbhq8 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.6rem 0;
  }
}
.EthosSection_sectionHeading___kl5X {
  width: 100%;
  z-index: 5;
  transition: opacity 0.5s;
}
@media (min-width: 850px) {
  .EthosSection_sectionHeading___kl5X {
    opacity: 0.18;
    width: 30%;
  }
}
.EthosSection_sectionHeading___kl5X h3 {
  font-size: clamp(2.5rem, 7.1vw, 7.5rem);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: calc(-0.02em);
  margin: 0;
}
@media (min-width: 850px) {
  .EthosSection_sectionHeading___kl5X h3 {
    transform: translateY(100%);
  }
}
.EthosSection_sectionImage__R8Wnf {
  position: relative;
  width: 100%;
  display: flex;
}
@media (min-width: 850px) {
  .EthosSection_sectionImage__R8Wnf {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.EthosSection_sectionImage__R8Wnf img {
  border-radius: 0.95rem;
}
@media screen and (min-width: 1920px) {
  .EthosSection_sectionImage__R8Wnf img {
    min-width: 500px;
  }
}
.EthosSection_sectionDescription__9BWQV {
  width: 100%;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.25;
  transition: opacity 0.5s;
  z-index: 5;
}
@media (min-width: 500px) {
  .EthosSection_sectionDescription__9BWQV {
    font-size: 1.75rem;
  }
}
@media (min-width: 850px) {
  .EthosSection_sectionDescription__9BWQV {
    opacity: 0;
    width: 30%;
  }
}
.EthosSection_numberOuter__uo7oD {
  display: flex;
  overflow: hidden;
}
.EthosSection_number__MbFH_ {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: calc(-20em / 1000);
}
@media (min-width: 850px) {
  .EthosSection_number__MbFH_ {
    transform: translateY(100%);
    font-size: 1.875rem;
  }
}
.EthosSection_headingOuter___3MYl {
  display: flex;
  overflow: hidden;
}
.EthosSection_sectionImageReveal__oz58_ {
  pointer-events: none;
  -webkit-transform-style: preserve-3d;
}
@media (max-width: 849px) {
  .EthosSection_sectionImageReveal__oz58_ {
    width: 100%;
    margin: 1rem 0;
    border-radius: 10px;
    overflow: hidden;
  }
}
@media (min-width: 850px) {
  .EthosSection_sectionImageReveal__oz58_ {
    opacity: 0;
    z-index: -1;
  }
}
.EthosSection_line___wkFr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
@media (min-width: 850px) {
  .EthosSection_line___wkFr {
    transform: scaleX(0);
    transform-origin: left;
    height: 2px;
  }
}
.EthosSection_lineInner__7mqkk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  z-index: 2;
}
@media (min-width: 850px) {
  .EthosSection_lineInner__7mqkk {
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
  }
}
.Hero_hero__IrR3f {
  display: flex;
  height: 100svh;
  min-height: 100svh;
  pointer-events: none;
}
@media (max-width: 768px) {
  .Hero_hero__IrR3f {
    height: 100%;
    align-items: flex-end;
    padding-bottom: 25%;
  }
}
.Hero_hero__IrR3f .container {
  align-items: center;
}
.Hero_logos__jC9k_ {
  position: absolute;
  bottom: 1rem;
  left: 7vw;
  width: calc(100% - 14vw);
  z-index: 3;
}
@media (min-width: 500px) {
  .Hero_logos__jC9k_ {
    width: calc(100% - 5rem);
    left: 2.5rem;
  }
}
@media screen and (min-width: 1920px) {
  .Hero_logos__jC9k_ {
    max-width: 2470px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.625rem;
  }
}
.Hero_logosInner__D4sWL {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, auto);
  align-items: center;
}
@media (min-width: 600px) {
  .Hero_logosInner__D4sWL {
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 1.875rem;
    justify-content: flex-start;
  }
}
.Hero_logosInner__D4sWL img {
  flex-shrink: 1;
}
.Hero_logosInner__D4sWL img:not(:last-child) {
  padding-right: 20px;
}
.Hero_splitText__diMTw {
  width: 100%;
  grid-column: span 11;
  display: flex;
  flex-direction: column;
  font-size: clamp(2rem, 16vw, 99rem);
  color: #000;
  line-height: 0.9;
  padding-top: 5.625rem;
  z-index: 2;
}
.Hero_splitText__diMTw svg {
  width: 100%;
}
@media (min-width: 849px) {
  .Hero_splitText__diMTw .Hero_mobile__VkWXK {
    display: none;
  }
}
.Hero_introText__wboFn {
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.4;
}
@media (min-width: 500px) and (max-width: 850px) {
  .Hero_introText__wboFn {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .Hero_introText__wboFn {
    margin-top: 1.5rem;
  }
}
@media (min-width: 769px) {
  .Hero_introText__wboFn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 30ch;
    transform: translateY(calc(100% + 1rem));
    line-height: 1.25;
  }
}
@media (min-width: 1100px) {
  .Hero_introText__wboFn {
    transform: translate(20%);
    left: auto;
    right: 0;
    width: 30%;
  }
}
@media (min-width: 1300px) {
  .Hero_introText__wboFn {
    transform: translate(20%, -50%);
  }
}
.Hero_introText__wboFn strong {
  font-weight: 700;
}
.FaqsList_faqsList__3yyiS {
  display: flex;
  flex-direction: column;
  background-color: #000;
  padding: 6.5rem 0 2rem;
  z-index: 2;
  color: #fff;
}
.FaqsList_heading__kirHR p {
  width: 100%;
  font-size: clamp(2.5rem, 7.1vw, 7.5rem);
  letter-spacing: calc(-20em / 1000);
  font-weight: 400;
  line-height: 1;
  color: #fff;
}
.FaqsList_faq__US_6Y {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
}
.FaqsList_question__6fKon {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  font-size: var(--fs-32);
  font-weight: 400;
  line-height: 1.14;
  cursor: pointer;
  padding: 0.5rem 0;
}
@media (max-width: 768px) {
  .FaqsList_question__6fKon {
    gap: 0.5rem;
    font-size: 22px;
    line-height: 1.25;
    padding: 0.3rem 0;
  }
}
@media (min-width: 850px) {
  .FaqsList_question__6fKon {
    max-width: 44ch;
  }
}
.FaqsList_question__6fKon .FaqsList_icon__54ODy {
  display: inline-block;
  content: "";
  width: 1.15ch;
  flex-shrink: 0;
  transition: var(--animation-smooth);
  transition-property: transform;
  will-change: transform;
}
.FaqsList_question__6fKon .FaqsList_icon__54ODy svg {
  width: 100%;
}
.FaqsList_question__6fKon:has(:checked) .FaqsList_icon__54ODy {
  transform: rotate(45deg);
}
.FaqsList_question__6fKon input {
  position: absolute;
  display: none;
}
.FaqsList_question__6fKon + div {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.6s cubic-bezier(0.75, 0, 0.25, 1),
    opacity 0.3s ease;
  opacity: 0;
}
.FaqsList_question__6fKon + div > * {
  overflow: hidden;
}
.FaqsList_question__6fKon:has(:checked) + div {
  grid-template-rows: 1fr;
  opacity: 1;
  transition: grid-template-rows 0.6s cubic-bezier(0.75, 0, 0.25, 1),
    opacity 0.3s ease 0.4s;
}
.FaqsList_answer__XAnT2 {
  font-size: clamp(1.8rem, 3.8vw, 3.8rem);
  padding-left: calc(0.5rem + 1ch);
}
@media (min-width: 769px) {
  .FaqsList_answer__XAnT2 {
    padding-left: calc(1rem + 0.6ch);
  }
}
@media (min-width: 850px) {
  .FaqsList_answer__XAnT2 {
    max-width: 22ch;
  }
}
.FaqsList_answer__XAnT2 div {
  font-size: 1.25rem;
}
.FaqsList_answer__XAnT2 p {
  line-height: 1.33 !important;
  color: #fff !important;
}
.FaqsList_answer__XAnT2 a {
  color: #fff !important;
}
@media (max-width: 850px) {
  .HeroSplitTextDesktop_desktop__Bey7n {
    display: none;
  }
}
.HeroVideo_video__OoWDY {
  position: absolute;
  bottom: 10%;
  left: 17.45%;
  width: 12.25%;
  height: 17.5%;
  cursor: pointer;
  pointer-events: all;
}
@media (max-width: 849px) {
  .HeroVideo_video__OoWDY {
    display: none;
  }
}
.HeroVideo_video__OoWDY[data-fullscreen="true"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  cursor: pointer;
}
.HeroVideo_video__OoWDY[data-fullscreen="true"] video {
  border-radius: 0;
}
.HeroVideo_video__OoWDY video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 45%;
  overflow: hidden;
  object-fit: cover;
  transition: border-radius 0.5s ease-in-out;
}
.HeroVideo_icon__7Uphv {
  position: fixed;
  top: 1.5rem;
  right: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid #000;
  border-radius: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 101;
}
@media (min-width: 769px) {
  .HeroVideo_icon__7Uphv {
    right: 1.875rem;
    top: 1.875rem;
  }
}
.HeroVideo_line__lnkqU {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #1a1a1a;
  will-change: transform;
  border-radius: 2px;
  background-color: #000;
}
.HeroVideo_line__lnkqU:first-child {
  transform: translateY(0) rotate(45deg);
}
.HeroVideo_line__lnkqU:last-child {
  transform: translateY(0) rotate(-45deg);
}
.AnimatedArrow_animatedArrow__Q4v7Q {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.AnimatedArrow_innerArrow__6mwTB {
  display: flex;
  height: 1.18ch;
}
@media (min-width: 769px) {
  .AnimatedArrow_innerArrow__6mwTB {
    bottom: 10vh;
  }
}
@media (min-width: 850px) {
  .AnimatedArrow_innerArrow__6mwTB {
    transform: rotate(50deg);
  }
}
.ServicesHeading_heading__w6gAZ {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  font-size: clamp(3rem, 10.6vw, 10rem);
  line-height: 0.9;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: calc(-20em / 1000);
  margin: 0;
}
@media (max-width: 500px) {
  .ServicesHeading_heading__w6gAZ {
    font-size: 12vw;
  }
}
.ServicesHeading_heading__w6gAZ.ServicesHeading_bottom__K8yXu {
  width: 100%;
  padding-left: 13.5%;
  margin-bottom: 10vh;
}
@media (max-width: 768px) {
  .ServicesHeading_heading__w6gAZ.ServicesHeading_bottom__K8yXu {
    margin-bottom: 0;
  }
}
.ServicesHeading_arrow__L7E0F {
  height: 100%;
}
.ServiceMedia_mediaContainer__WGgZa {
  width: 100%;
  aspect-ratio: 1/1;
  border-top-right-radius: 5rem;
  overflow: hidden;
  z-index: 2;
}
@media (max-width: 768px) {
  .ServiceMedia_mediaContainer__WGgZa {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 769px) {
  .ServiceMedia_mediaContainer__WGgZa {
    width: 45%;
  }
}
@media (min-width: 850px) {
  .ServiceMedia_mediaContainer__WGgZa {
    border-top-right-radius: 12.5rem;
  }
}
.ServicesPanel_panel__YF4OS {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  will-change: transform;
}
@media (min-width: 769px) {
  .ServicesPanel_panel__YF4OS {
    flex-direction: row;
  }
}
@media (min-width: 850px) and (max-width: 1450px) {
  .ServicesPanel_panel__YF4OS {
    padding: 3.125rem 3.125rem 3.125rem 5vw;
  }
}
.ServicesPanel_panelText__iyjwZ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  z-index: 2;
}
@media (max-width: 768px) {
  .ServicesPanel_panelText__iyjwZ {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 769px) {
  .ServicesPanel_panelText__iyjwZ {
    gap: 1.5rem;
    width: 50%;
  }
}
.ServicesPanel_panelImage__q_zlA {
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 2;
}
@media (max-width: 768px) {
  .ServicesPanel_panelImage__q_zlA {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 769px) {
  .ServicesPanel_panelImage__q_zlA {
    width: 45%;
  }
}
.ServicesPanel_panelImage__q_zlA img {
  border-top-right-radius: 5rem;
}
@media (min-width: 850px) {
  .ServicesPanel_panelImage__q_zlA img {
    border-top-right-radius: 12.5rem;
  }
}
.ServicesPanel_panelBackground__O9mDV {
  position: absolute;
  top: -1.5rem;
  left: -7vw;
  width: calc(100% + 14vw);
  height: calc(100% + 3rem);
  background: #fff;
  border-radius: 0.625rem;
  z-index: 1;
}
@media (min-width: 850px) and (max-width: 1450px) {
  .ServicesPanel_panelBackground__O9mDV {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 1.625rem;
  }
}
@media (min-width: 1000px) {
  .ServicesPanel_panelBackground__O9mDV {
    border-radius: 4rem;
  }
}
@media (min-width: 1450px) {
  .ServicesPanel_panelBackground__O9mDV {
    top: -2.8125rem;
    left: -2.8125rem;
    width: calc(100% + 5.625rem);
    height: calc(100% + 5.625rem);
  }
}
@media (min-width: 1920px) {
  .ServicesPanel_panelBackground__O9mDV {
    left: -4rem;
    width: calc(100% + 8rem);
  }
}
.ServicesPanel_panelHeading__5Sy4s {
  font-size: var(--fs-100);
  font-weight: 400;
  line-height: 1;
  letter-spacing: calc(-20em / 1000);
  margin: 0 0 0.54rem;
}
@media (max-width: 768px) {
  .ServicesPanel_panelHeading__5Sy4s {
    font-size: 2.5rem;
  }
}
.ServicesPanel_tags__6NQOl {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 0.4rem;
}
@media (min-width: 769px) {
  .ServicesPanel_tags__6NQOl {
    gap: 0.625rem;
  }
}
.ServicesPanel_tag__JYwRk {
  font-size: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease,
    border-color 0.2s ease;
  cursor: pointer;
}
@media (min-width: 850px) {
  .ServicesPanel_tag__JYwRk {
    border: 2px solid #e9e9e9;
    font-size: 1.125rem;
  }
}
@media (min-width: 769px) {
  .ServicesPanel_tag__JYwRk:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
  }
}
.ServicesPanel_panelMainText__4F0TZ {
  margin: 0;
}
.AnimatedPanel_panel__eAXfR {
  grid-column: span 12;
}
.AnimatedPanel_spacer__w4GTD {
  pointer-events: none;
}
@media (min-width: 850px) {
  .AnimatedPanel_spacer__w4GTD {
    height: 40vh;
  }
}
.ServicesPanels_panels__NpKkK {
  margin: 5rem 0;
}
@media (min-width: 769px) {
  .ServicesPanels_panels__NpKkK {
    margin: 4rem 0 10vh;
  }
}
@media (min-width: 850px) {
  .ServicesPanels_panels__NpKkK {
    margin: 4rem 0 25vh;
  }
}
.ServicesPanels_panels__NpKkK .container {
  row-gap: 4.25rem;
}
@media (min-width: 850px) {
  .ServicesPanels_panels__NpKkK .container {
    row-gap: 6.875rem;
  }
}
@media (min-width: 850px) and (max-width: 1450px) {
  .ServicesPanels_panels__NpKkK .container {
    padding-left: 1.625rem;
    padding-right: 1.625rem;
  }
}
.StatisticsPanel_panel__5YHtR {
  border: 2px solid hsla(0, 0%, 100%, 0.4);
  width: 100%;
  background: #000;
  padding: 1.4375rem;
  min-height: 60vh;
  border-radius: 10px 80px 10px 10px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .StatisticsPanel_panel__5YHtR {
    border-radius: 20px 200px 20px 20px;
    padding: 4rem 5rem 2.5rem 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .StatisticsPanel_panel__5YHtR {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.75rem;
    align-items: center;
  }
}
.StatisticsPanel_panelWrap__XLJZs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .StatisticsPanel_panelWrap__XLJZs {
    grid-column: span 5;
  }
}
@keyframes StatisticsPanel_rainbow__FRjps {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  to {
    background-position: 0;
  }
}
.StatisticsPanel_logo__Y5wQT img {
  height: 60px !important;
  width: auto !important;
  max-width: 150px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .StatisticsPanel_logo__Y5wQT img {
    height: 100px !important;
    margin-bottom: 2rem;
    max-width: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .StatisticsPanel_logo__Y5wQT img {
    margin-bottom: 5rem;
  }
}
.StatisticsPanel_visual__W0d30 {
  width: 100%;
  height: 90%;
  display: none;
  grid-column: span 7;
}
@media screen and (min-width: 1024px) {
  .StatisticsPanel_visual__W0d30 {
    display: block;
  }
}
.StatisticsPanel_visualMobile__NTMW2 {
  width: 100%;
  display: block;
  margin: 0.5rem 0;
  max-width: 800px;
}
@media screen and (min-width: 1024px) {
  .StatisticsPanel_visualMobile__NTMW2 {
    display: none;
  }
}
.StatisticsPanel_heading__UrLlt {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: calc(-0.02em);
  margin: 0;
  text-decoration: none;
  background: linear-gradient(90deg, #633cc9, #3b8392, #cb24cc);
  background-size: 200% 200%;
  animation: StatisticsPanel_rainbow__FRjps 3s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.5s ease;
  color: transparent;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .StatisticsPanel_heading__UrLlt {
    font-size: clamp(6rem, 10vw, 10rem);
    margin-top: auto;
  }
}
.StatisticsPanel_description__csS74 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  display: block;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .StatisticsPanel_description__csS74 {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .StatisticsPanel_description__csS74 {
    font-size: 2.125rem;
    margin-bottom: 7rem;
  }
}
.StatisticsPanel_buttons__FwZUj {
  margin-top: auto;
}
.StatisticsPanel_backgroundImage___Dgsu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}
.StatisticsCarousel_panels__pxnru {
  margin-top: 3rem;
}
.StatisticsCarousel_container__2XA6W {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}
.StatisticsCarousel_swiper__PGdj6 {
  overflow: visible !important;
  width: 85%;
  max-width: 1400px;
}
@media screen and (min-width: 1920px) {
  .StatisticsCarousel_swiper__PGdj6 {
    max-width: 1800px;
  }
}
.StatisticsCarousel_swiperSlide__is8BS {
  justify-content: center;
  display: flex !important;
  height: auto !important;
}
.StatisticsCarousel_swiperSlide__is8BS .swiper-slide-shadow {
  background: #000;
}
.StatisticsCarousel_swiperNav__Pi054 {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 2;
  justify-content: flex-end;
  padding: 1.4375rem;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .StatisticsCarousel_swiperNav__Pi054 {
    padding: 1.875rem;
  }
}
.StatisticsCarousel_swiperNavNext__sdg5A {
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
}
@media screen and (min-width: 768px) {
  .StatisticsCarousel_swiperNavNext__sdg5A {
    width: 50px;
    height: 50px;
  }
}
.StatisticsCarousel_swiperNavNext__sdg5A.swiper-button-disabled {
  display: none;
}
.StatisticsCarousel_swiperNavNext__sdg5A:hover:before {
  transform: translateX(-10%) rotate(45deg);
}
.StatisticsCarousel_swiperNavNext__sdg5A:before {
  content: "";
  width: 16px;
  height: 16px;
  border-right: 2px solid;
  border-top: 2px solid;
  color: #fff;
  transform: translateX(-25%) rotate(45deg);
  transition: all 0.3s ease;
}
.KotaverseCta_kotaverseCta__bBpWa {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 5rem 0;
  background: #000;
  margin-bottom: -5rem;
  overflow: hidden;
  z-index: 6;
}
@media (max-width: 849px) {
  .KotaverseCta_kotaverseCta__bBpWa {
    margin-top: -1px;
  }
}
@media (min-width: 850px) {
  .KotaverseCta_kotaverseCta__bBpWa {
    padding: 12rem 0;
  }
}
.KotaverseCta_backgroundImage__6TVCS {
  width: 70%;
  aspect-ratio: 580/604;
  z-index: 1;
}
@media (max-width: 768px) {
  .KotaverseCta_backgroundImage__6TVCS {
    opacity: 0.5;
  }
}
@media (min-width: 769px) {
  .KotaverseCta_backgroundImage__6TVCS {
    width: 36.25rem;
  }
}
.KotaverseCta_backgroundVideo__FSZyH {
  width: 70%;
  aspect-ratio: 580/604;
  z-index: 1;
}
@media (max-width: 768px) {
  .KotaverseCta_backgroundVideo__FSZyH {
    opacity: 0.5;
  }
}
@media (min-width: 769px) {
  .KotaverseCta_backgroundVideo__FSZyH {
    width: 60%;
  }
}
@media (min-width: 850px) {
  .KotaverseCta_backgroundVideo__FSZyH {
    width: 36.25rem;
  }
}
.KotaverseCta_smallHeading__2lBEA {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: calc(161em / 1000);
  margin: 0;
}
.KotaverseCta_text__IMtZr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
@media (max-width: 768px) {
  .KotaverseCta_text__IMtZr {
    gap: 2rem;
  }
}
.KotaverseCta_marquee__PNczk {
  display: flex;
  justify-content: center;
  gap: 1.5625rem;
  height: clamp(2.75rem, 10vw, 6.5625rem);
  width: 80%;
}
@media (min-width: 769px) {
  .KotaverseCta_marquee__PNczk {
    margin: 3.75rem 0;
  }
}
.KotaverseCta_marquee__PNczk svg {
  height: 100%;
  flex-shrink: 0;
}
.KotaverseCta_marquee__PNczk svg:last-child {
  margin-right: 1.5625rem;
}
.Services_services__YnZAs {
  padding: 3.25rem 0 1.5rem;
  max-width: 100vw;
  z-index: 2;
}
@media (min-width: 850px) {
  .Services_services__YnZAs {
    padding: 9.375rem 0 50vh;
  }
}
.Services_panels__VAWdb {
  margin: 4rem 0;
}
.Services_panels__VAWdb .container {
  gap: 4.25rem;
}
@media (min-width: 769px) {
  .Services_panels__VAWdb .container {
    gap: 6.875rem;
  }
}
.Services_panel__twaD0 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  grid-column: span 12;
}
@media (min-width: 769px) {
  .Services_panel__twaD0 {
    flex-direction: row;
  }
}
.Services_panelText__sc7fW {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  z-index: 2;
}
@media (min-width: 769px) {
  .Services_panelText__sc7fW {
    gap: 1.5rem;
    width: 50%;
  }
}
.Services_panelImage__CRtd5 {
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 2;
}
@media (max-width: 768px) {
  .Services_panelImage__CRtd5 {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 769px) {
  .Services_panelImage__CRtd5 {
    width: 45%;
  }
}
.Services_panelImage__CRtd5 img {
  border-top-right-radius: 12.5rem;
}
.Services_panelBackground__r6Fz4 {
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  width: calc(100% + 3rem);
  height: calc(100% + 3rem);
  background: #fff;
  border-radius: 0.625rem;
  z-index: 1;
}
@media (min-width: 769px) {
  .Services_panelBackground__r6Fz4 {
    top: -2.8125rem;
    left: -2.8125rem;
    width: calc(100% + 5.625rem);
    height: calc(100% + 5.625rem);
    border-radius: 4rem;
  }
}
.Services_panelHeading__V9IPr {
  font-size: var(--fs-100);
  font-weight: 400;
  line-height: 1;
  letter-spacing: calc(-20em / 1000);
  margin: 0 0 0.54rem;
}
@media (max-width: 768px) {
  .Services_panelHeading__V9IPr {
    font-size: 2.5rem;
  }
}
.Services_tags__yRg49 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 0.4rem;
}
@media (min-width: 769px) {
  .Services_tags__yRg49 {
    gap: 0.625rem;
  }
}
.Services_tag__iIhML {
  font-size: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease,
    border-color 0.2s ease;
  cursor: pointer;
}
@media (min-width: 769px) {
  .Services_tag__iIhML {
    border: 2px solid #e9e9e9;
    font-size: 1.125rem;
  }
  .Services_tag__iIhML:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
  }
}
.Services_panelMainText__Osy3X {
  margin: 0;
}
.Statistics_statistics__vWlOY {
  background: #000;
  padding: 5rem 0 2.5rem;
  color: #fff;
  z-index: 2;
}
@media (min-width: 850px) {
  .Statistics_statistics__vWlOY {
    padding: 5rem 0 12rem;
  }
}
.StatisticsHeading_heading__3C_3F {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  font-size: clamp(3rem, 10.6vw, 10rem);
  line-height: 0.9;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: calc(-20em / 1000);
  margin: 0;
}
@media (max-width: 500px) {
  .StatisticsHeading_heading__3C_3F {
    font-size: 12vw;
  }
}
.StatisticsHeading_heading__3C_3F.StatisticsHeading_bottom__WtLQC {
  width: 100%;
  padding-left: 13.5%;
  margin-bottom: 10vh;
}
@media (max-width: 768px) {
  .StatisticsHeading_heading__3C_3F.StatisticsHeading_bottom__WtLQC {
    margin-bottom: 0;
  }
}
.Work_work__rSI8c {
  background: #000;
  padding: 2rem 0 0.2rem;
  color: #fff;
  z-index: 2;
}
@media (min-width: 769px) {
  .Work_work__rSI8c {
    padding: 5rem 0 5.5rem;
  }
}
@media (min-width: 850px) {
  .Work_work__rSI8c {
    padding: 12rem 0 5.5rem;
  }
}
.Work_text__WI9A4 {
  display: flex;
  flex-direction: column;
  grid-column: span 12;
  margin-bottom: 2.5rem;
}
@media (min-width: 769px) {
  .Work_text__WI9A4 {
    margin-bottom: 4.5rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
.Work_heading__pbv4g {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: clamp(3.125rem, 10.6vw, 10rem);
  line-height: 0.8;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: calc(-20em / 1000);
  color: #fff;
  margin: 0;
}
@media (min-width: 769px) {
  .Work_heading__pbv4g {
    margin: 0.64ch 0 0;
    width: calc(50% - 1rem);
  }
}
@media (max-width: 768px) {
  .Work_heading__pbv4g {
    order: 2;
  }
}
@media (max-width: 500px) {
  .Work_heading__pbv4g {
    font-size: 12vw;
  }
}
.Work_heading__pbv4g.Work_bottom__rzrzH {
  padding-left: 13.5%;
  width: 100%;
  margin: 0.75rem 0 0;
}
@media (min-width: 769px) {
  .Work_heading__pbv4g.Work_bottom__rzrzH {
    margin: 1rem 0 0;
  }
}
.Work_heading__pbv4g span {
  width: 100%;
}
.Work_rightText__zx_Y0 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .Work_rightText__zx_Y0 {
    padding: 1.5625rem 0 2rem;
    order: 1;
  }
}
@media (min-width: 769px) {
  .Work_rightText__zx_Y0 {
    width: calc(50% - 1rem);
  }
}
.Work_rightText__zx_Y0 h3 {
  font-size: clamp(2.5rem, 4.3vw, 5rem);
  font-weight: 400;
  line-height: 1.07;
  margin: 0 0 1rem;
}
@media (max-width: 768px) {
  .Work_rightText__zx_Y0 p {
    font-size: 1.125rem;
  }
}
.Work_projects__A5q77 .container {
  gap: 1.5rem;
}
@media (min-width: 769px) {
  .Work_projects__A5q77 .container {
    gap: 1.5625rem;
  }
}
.Work_projects__A5q77 a {
  color: #fff;
}
.Work_buttonContainer__Owbmu {
  grid-column: span 12;
  display: flex;
  justify-content: center;
}
@media (max-width: 849px) {
  .Work_buttonContainer__Owbmu {
    margin: 1rem 0 0;
  }
}
.Work_buttonContainer__Owbmu > span {
  width: auto;
}
.Marquee_marquee__ALmrA {
  width: 100%;
  display: flex;
  flex-direction: row;
  transform-origin: bottom left;
}
.Marquee_marquee__ALmrA.Marquee_inverted__b4oEL .Marquee_inner__fvYgL {
  animation: Marquee_marquee-inverted__nPQo9 10s linear infinite;
  animation-play-state: running;
}
.Marquee_inner__fvYgL {
  display: flex;
  white-space: nowrap;
  animation: Marquee_marquee__ALmrA 20s linear infinite;
  animation-play-state: running;
  will-change: transform;
}
@keyframes Marquee_marquee__ALmrA {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes Marquee_marquee-inverted__nPQo9 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translateZ(0);
  }
}
.ProjectCard_project__d1wbY {
  text-decoration: none;
  grid-column: span 6;
}
.ProjectCard_project__d1wbY:hover .ProjectCard_imageOverlay__OCawr {
  opacity: 1;
}
@media (min-width: 850px) {
  .ProjectCard_project__d1wbY[data-animation="grid-item"] {
    opacity: 0;
    transform: translateY(1.5rem);
  }
}
.ProjectCard_small__xsL92 {
  grid-column: span 6;
}
.ProjectCard_large__JOQbv {
  grid-column: span 12;
}
.ProjectCard_large__JOQbv .ProjectCard_imageOverlay__OCawr {
  padding: 2.5% 4.5%;
}
.ProjectCard_large__JOQbv
  .ProjectCard_imageOverlay__OCawr
  .ProjectCard_heading__1csIW {
  font-size: var(--fs-60);
}
@media (min-width: 769px) {
  .ProjectCard_large__JOQbv
    .ProjectCard_imageOverlay__OCawr
    .ProjectCard_heading__1csIW {
    max-width: 28ch;
  }
}
.ProjectCard_projectText__o770X {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #504f4f;
  border-right: 1px solid #504f4f;
  border-left: 1px solid #504f4f;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  padding: 0.3rem 0.5rem 1.5rem;
  margin-bottom: -1.125rem;
}
@media (min-width: 769px) {
  .ProjectCard_projectText__o770X {
    align-items: baseline;
    padding: 1.1rem 1.25rem 2.225rem;
  }
}
@media (min-width: 850px) {
  .ProjectCard_projectText__o770X {
    border-top-left-radius: 1.125rem;
    border-top-right-radius: 1.125rem;
  }
}
.ProjectCard_projectText__o770X h3 {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: calc(-20em / 1000);
  color: inherit;
  margin: 0;
}
@media (min-width: 769px) {
  .ProjectCard_projectText__o770X h3 {
    gap: 0.625rem;
    font-size: 1.25rem;
  }
}
.ProjectCard_projectText__o770X h3 svg {
  width: 0.7rem;
}
@media (min-width: 769px) {
  .ProjectCard_projectText__o770X h3 svg {
    width: 0.9375rem;
  }
}
.ProjectCard_projectText__o770X p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: calc(-20em / 1000);
  margin: 0;
  color: inherit;
}
@media (min-width: 769px) {
  .ProjectCard_projectText__o770X p {
    font-size: 1.25rem;
  }
}
.ProjectCard_projectImage__Nfx9I {
  aspect-ratio: 16/9;
}
.ProjectCard_projectImage__Nfx9I img {
  border-radius: 0.625rem;
}
@media (min-width: 850px) {
  .ProjectCard_projectImage__Nfx9I img {
    border-radius: 1.125rem;
  }
}
.ProjectCard_imageOverlay__OCawr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5% 9%;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10;
  border-radius: 0.625rem;
}
@media (max-width: 1000px) {
  .ProjectCard_imageOverlay__OCawr {
    display: none;
  }
}
@media (min-width: 850px) {
  .ProjectCard_imageOverlay__OCawr {
    border-radius: 1.125rem;
  }
}
.ProjectCard_imageOverlay__OCawr li,
.ProjectCard_imageOverlay__OCawr p {
  color: #fff;
}
.ProjectCard_imageOverlay__OCawr .ProjectCard_heading__1csIW {
  margin-top: auto;
  font-size: var(--fs-32);
}
.ProjectCard_video__AheFz {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 1.125rem;
  display: none;
}
@media screen and (min-width: 1024px) {
  .ProjectCard_video__AheFz {
    display: block;
  }
}
.ProjectCard_tags__XdVcf {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  margin: auto 0 0;
  z-index: 5;
}
.ProjectCard_tags__XdVcf li {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: calc(-10em / 1000);
  color: #fff;
  border-radius: 2rem;
  border: 1px solid #fff;
  padding: 4px 10px 5px;
  list-style: none;
}
@media (min-width: 769px) {
  .ProjectCard_tags__XdVcf li {
    font-size: 0.8125rem;
    padding: 8px 15px;
  }
}
@media screen and (min-width: 1920px) {
  .ProjectCard_tags__XdVcf li {
    font-size: 1.25rem;
    padding: 12px 20px;
  }
}
